pipeline/Run_LoadIndia_Covid_data_PL.json
{
	"name": "Run_LoadIndia_Covid_data_PL",
	"properties": {
		"activities": [
			{
				"name": "Data Lake Folders Path",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Get India Covid data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "India_Coivd_Data_Lake_Path_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Data Lake Folders Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Data Lake Folders Path').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute LoadIndiaCovidDataIntoSQL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SQL_LoadIndiaCovidDataIntoSQL_PL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_File_folder": {
										"value": "@item().SourceFileFolder",
										"type": "Expression"
									},
									"SQLTable": {
										"value": "@item().SQLTable",
										"type": "Expression"
									},
									"SQLTableSchema": {
										"value": "@item().Schema",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute Get India Covid data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Remove files PL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Get and Tranformation India Covid data PL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Remove files PL",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Remove Processed Files",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "India_Covid_Project"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-25T12:27:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}