pipeline/SQL_LoadIndiaCovidDataIntoSQL_PL.json
{
	"name": "SQL_LoadIndiaCovidDataIntoSQL_PL",
	"properties": {
		"activities": [
			{
				"name": "StateWiseTotalCasesRank To SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Drop_table_syntax",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "Load_date",
								"value": {
									"value": "@formatDateTime(utcnow(),'dd-MMM-yyyy')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.source_File_folder",
								"type": "Expression"
							},
							"wildcardFileName": "part-00000*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{variables('drop_table')}",
							"type": "Expression"
						},
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "InidaCovidCasesSourceDS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IndiaCoivdTables",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.SQLTableSchema",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.SQLTable",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SchemaName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "table_schema_name",
					"value": {
						"value": "@pipeline().parameters.SQLTableSchema",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TableName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "table_name",
					"value": {
						"value": "@pipeline().parameters.SQLTable",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Drop_table_syntax",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SchemaName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "TableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "drop_table",
					"value": {
						"value": "@concat('drop table ',variables('table_schema_name'),'.',variables('table_name'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"source_File_folder": {
				"type": "string"
			},
			"SQLTable": {
				"type": "string"
			},
			"SQLTableSchema": {
				"type": "string"
			}
		},
		"variables": {
			"table_name": {
				"type": "String"
			},
			"table_schema_name": {
				"type": "String"
			},
			"drop_table": {
				"type": "String"
			}
		},
		"folder": {
			"name": "India_Covid_Project"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-25T12:27:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}